<li class="endpoint-item noun-get">
    <div class="endpoint-heading">
        <span class="noun fleft">GET</span>
        <span class="endpoint-name fleft">/api/megasenasena/:concurso</span>
    </div>
    <div class="endpoint-content">
        <h3>Parametro</h3>
        <p>concurso | int | Número do concurso já sorteado</p>

        <h3>Resposta</h3>
        <pre>
            {
                "numero": "1822",
                "data": "28/05/2016",
                "cidade": "ALTO JEQUITIBÁ/MG",
                "local": "Caminhão da Sorte",
                "valorAcumulado": "2.621.630,30",
                "dezenas": [
                    "01",
                    "22",
                    "26",
                    "43",
                    "50",
                    "53"
                ],
                "premiacao": {
                    "sena": {
                    "ganhadores": "0",
                    "valorPago": "0,00"
                    },
                    "quina": {
                    "ganhadores": "23",
                    "valorPago": "61.876,99"
                    },
                    "quadra": {
                    "ganhadores": "1.885",
                    "valorPago": "1.078,56"
                    }
                },
                "arrecadacaoTotal": "24.684.450,00",
                "proximoConcurso": {
                    "data": "01/06/2016",
                    "valorEstimado": "6.000.000,00"
                },
                "valorAcumuladoFinalCinco": "9.403.504,56",
                "valorAcumuladoMegaVirada": "28.060.560,90"
            }
        </pre>
    </div>
</li>