<li class="endpoint-item noun-get">
    <div class="endpoint-heading">
        <span class="noun fleft">GET</span>
        <a href="/api/quina" target="_blank" class="endpoint-name fleft">/api/quina</a>
    </div>
    <div class="endpoint-content">
        <h3>Resposta</h3>
        <pre>
            {
                "numero": "4100",
                "data": "03/06/2016",
                "cidade": "SÃO PAULO/SP",
                "local": "Espaço Caixa Loterias",
                "valorAcumulado": "3.034.041,53",
                "dezenas": [
                    "02",
                    "19",
                    "54",
                    "60",
                    "76"
                ],
                "premiacao": {
                    "quina": {
                    "ganhadores": "0",
                    "valorPago": "0,00"
                    },
                    "quadra": {
                    "ganhadores": "90",
                    "valorPago": "5.417,67"
                    },
                    "terno": {
                    "ganhadores": "6.905",
                    "valorPago": "106,18"
                    },
                    "duque": {
                    "ganhadores": "164.120",
                    "valorPago": "2,45"
                    }
                },
                "arrecadacaoTotal": "8.457.097,50",
                "proximoConcurso": {
                    "data": "04/06/2016",
                    "valorEstimado": "4.000.000,00"
                },
                "valorAcumuladoQuinaSaoJoao": "101.661.092,92"
            }
        </pre>
    </div>
</li>